//GAME BOARD
.game-board-cont{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%vw;
    height: 100vh;
    .game-board{
        position: relative;
        width: 25vw;
        height: 25vw;
        margin: auto;
        .game-board-fg-cont{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
        }
        .game-board-mg-cont{
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            .game-board-mg{
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
        .game-board-bg-cont{
            position: absolute;
            z-index: 1;
            margin: auto;
            width: 100%;
            height: 100%;
        }
    }
}

//GAME BOARD GRID
.game-board-grid{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    .game-board-grid-row{
        position: relative;
        display: flex;
        width: 100%;
        height: 33%;
    }
}

//GAME BOARD GRID CELL
.game-board-grid-cell{
    position: relative;
    display: flex;
    align-items: center;
    width: 33%;
    height: 100%;
    .game-board-grid-cell-fg-cont{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        margin: auto;
    }
    .game-board-grid-cell-mg-cont{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin: auto;
        border: 1px solid black;
        transform: scale(0.9);
        .game-board-grid-cell-mg{
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: auto;
            p{
                margin: auto;
            }
        }
    }
    .game-board-grid-cell-bg-cont{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        margin: auto;
    }
}