.game-board-cont{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%vw;
    height: 100vh;
    .game-board{
        position: relative;
        width: 25%;
        height: 25%;
        margin: auto;
        .game-board-fg-cont{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
        }
        .game-board-mg-cont{
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            .game-board-mg{
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
        .game-board-bg-cont{
            position: absolute;
            z-index: 1;
            margin: auto;
            width: 100%;
            height: 100%;
        }
    }
}
.game-board-grid{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .game-board-grid-row{
    position: relative;
    display: flex;
    width: 100%;
    height: 33%;
    .game-board-grid-cell{
        position: relative;
        display: flex;
        align-items: center;
        width: 33%;
        height: 100%;
        border: 1px solid black;
        p{
            margin: unset;
            padding: unset;
            margin: auto;
        }
    }
    }
}